<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Is it VT or SVT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B11A5141E85F6D400D0BABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B11A5281E85F6D400D0BABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B11A5331E85F6D400D0BABC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
